<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ home-title }}</title>
  </head>
  
  <body>
      <div id="app"></div>

      <!-- Scripts and Styles  -->
      {% style "/css/bootstrap.min.css" %}
      {% style "/css/chat.css"  %}

      {% if dev  %}
          {% script "/js/cljat_webapp/app.js" %}
      {% else %}
          {% script "/js/cjat_webapp/app.js" %}
      {% endif %}
     

      <script type="text/javascript">
       console.log("from html");
       var cljat = {
           uid: {{ user-id }}
       };
       window.cljat = cljat;
      </script>
      <!-- app entry point -->
      <script type="text/javascript">cljat_webapp.app.run()</script>
  </body>
</html>
