<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
  </head>
  <body>
      {% style "/bootstrap/css/bootstrap.min.css" %}
      {% style "/css/login.css" %}
      
      <div class="sitewrap">
          Welcome to cljat login

          <div class="login-container">
              <h1>Login to Your Account</h1><br>
				      <form id="login-form" action="/login-form" method="post">
					        <input type="text" id="email-input" name="useremail" placeholder="Username">
					        <input type="password" id="password-input" name="password" placeholder="Password">
					        <input type="submit" id="login-btn" name="login" class="login" value="Login">
				      </form>
					    
				      <div class="login-help">
					        <a href="#">Register</a> - <a href="#">Forgot Password</a>
				      </div>
          </div>
      </div>

      {% script "/js/cljat_webapp/app.js" %}
  </body>
</html>
