<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ title }}</title>
  </head>
  <body>
      {% style "/bootstrap/css/bootstrap.min.css" %}
      {% style "/font-awesome/css/font-awesome.min.css" %}
      {% style "/css/login.css" %}
      
      <div class="login">
          <div class="heading">
              <h2>Sign in</h2>
				      <form id="login-form" action="/login-form" method="post">
                  <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      <input type="text" id="email-input" class="form-control" name="useremail" placeholder="E-Mail">
                  </div>
                  <div class="input-group input-group-lg">
                      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                      <input type="password" id="password-input" class="form-control" name="password" placeholder="Password">
                  </div>
                  <p id="login-resp-text"></p>
					        <button type="submit" id="login-btn" name="login" class="login float">Login</button>
				      </form>
					    
				      <div class="login-help">
					        Don't have an account? - <a href="/signup">Signup</a>
				      </div>
          </div>
      </div>

      {% script "/js/cljat_webapp/app.js" %}
  </body>
</html>
