@font-face{
    font-family: 'Fira Sans';
    src: url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-Light.woff') format('woff'),
         url('//code.cdn.mozilla.net/fonts/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-Regular.woff') format('woff'),
         url('//code.cdn.mozilla.net/fonts/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('//code.cdn.mozilla.net/fonts/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('//code.cdn.mozilla.net/fonts/woff/FiraSans-Medium.woff') format('woff'),
         url('//code.cdn.mozilla.net/fonts/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
		margin: 0;
		padding: 0;
}

html, textarea, button {
    font: 13px/20px 'Fira Sans', sans-serif;
}

body, html {
    background: url(/images/bg.jpg);
    background-size: no-repeat;
    height: 100%;
    overflow-y: hidden;
}

#window {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 850px;
    margin: 0 auto;
}

#sidebar {
    position: absolute;
    top: 40px;
    bottom: 40px;
    width: 300px;
    border-right: 1px solid #eeeee0;
}

#sidebar-header {
    border-bottom: 1px solid #e8bad4;
    width: 300px;
    height: 65px;
    z-index: 100;
    position: absolute;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.97) 100%);
}

#sidebar-pane {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    margin-top: 65px;
    margin-bottom: 50px;
    background-color: white;
}

#sidebar-tabs {
    width: 300px;
    height: 50px;
    position:absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.97) 100%);
}

#chat {
    width: 500px;
    position: absolute;
    top: 40px;
    bottom: 40px;
    margin-left: 300px;
}

#chat-header {
    height: 65px;
    width: 500px;
    background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.97) 100%);
    border-bottom: 1px solid #e8bad4;
}

#chat-pane {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 500px;
    margin-top: 65px;
    margin-bottom: 50px;
    background-color: white;
}

#chat-input {
    width: 500px;
		height: 50px;
		position: absolute;
		bottom: 0;
    background-color: white;
	}

.friend-item {
    padding: 10px 20px 10px 60px;
    height: 80px;
    cursor: pointer;
}

.friend-item .img-avatar {
    height: 37px;
    border-radius: 2px;
    width: 37px;
    margin: 3px 0 0 -45px;
}

.list-group .list-group-item {
    border: 0;
}