<!--
    The current configuration:
    - logger user: for ns 'user', there is only a CONSOLE
    appender, since 'user' ns is for repl dev
    - logger server: for ns 'server', there is a FILE appender
    configured, and a threshold filter that only allow INFO level go
    through.
-->

<configuration debug="false">

  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-10contextName %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Time-based File Appender -->
  <appender name="TIME_BASED_FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>log/server-%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>

     <encoder>
       <pattern>%relative [%thread] %-5level %logger{35} - %msg%n</pattern>
     </encoder>
     
     <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <!-- ############################################# -->

  <logger name="server" level="DEBUG" >
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="user" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  
  <logger name="session-fun" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  
  <root level="INFO">
    <appender-ref ref="TIME_BASED_FILE"/>
  </root>
  
</configuration>
